.barcode, .images, .bill{
  height: 100vh;
  outline-style: solid;
  padding: 1em;
}

.barcode{
  
}
.images{
  text-align: center;
}
.bill{
  
}

.actualbill, .actualbarcode, .actualimages{
  text-align: center;
}

#dropdown-basic-button{
  width: auto;
}
.gallery {
  padding: 2em;
}

.imge {
    width:  200px;
    height: 200px;
    object-fit: cover;
    outline-style: solid;
    margin: 1em;
}

.imge:hover{
  width:  205px;
  height: 205px;
  outline-width: 8px;
}

.clicked {
  width:  205px;
  height: 205px;
  outline-width: 8px;
}

.row{
justify-content: center;
}
