.barcode, .images, .bill{
  height: 100vh;
  outline-style: solid;
  padding: 1em;
}

.barcode{
  text-align: center;
}
.images{
  text-align: center;
}
.bill{
  text-align: center;
  
}

.actualbill, .actualbarcode, .actualimages{
  text-align: center;
}

#dropdown-basic-button{
  width: auto;
}
.gallery {
  padding: 2em;
}

.imge {
    width:  200px;
    height: 200px;
    object-fit: cover;
    outline-style: solid;
    margin: 1em;
}

.imge:hover{
  width:  205px;
  height: 205px;
  outline-width: 8px;
}

.clicked {
  width:  205px;
  height: 205px;
  outline-width: 8px;
}

.row{
justify-content: center;
}


.hide{
  visibility: hidden;
}

.bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
}

.line {
  margin-top: 120px;
  border-top: 1px solid black;
}

.line-barcode {
  margin-top: 610px;
  border-top: 1px solid black;
}

.line-bill {
  margin-top: 533px;
  border-top: 1px solid black;
  
}
.bottom-images {
  position: absolute;
  left: 200px;
  right: 200px;
  margin: auto;
  bottom: 50px;
}

.bottom-bill {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 80px;
}

#hidden {
  display: none;
}

#blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: #ccc;
}

@media screen and (max-width: 1400px) {
.h6{
  font-size: 0.5rem;
}
.imge {
    width:  130px;
    height: 130px;
    object-fit: cover;
    outline-style: solid;
    margin: 1em;
}

.imge:hover{
  width:  135px;
  height: 135px;
  outline-width: 8px;
}
.bottom-images {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 50px;
}
}