.barcode, .images, .bill{
  height: 100vh;
  outline-style: solid;
  padding: 1em;
}

.barcode{
  
}
.images{

}
.bill{
  
}

.actualbill, .actualbarcode, .actualimages{
  text-align: center;
}

#dropdown-basic-button{
  width: 50%;
}
.gallery {
  padding: 2em;
}

.img {
    display: inline-block;
    width:  200px;
    height: 200px;
    background-size: cover;
    outline-style: solid;
}
.row{
justify-content: center;
}
